@model CulturezVous.Service.Areas.Admin.Models.ElementViewModel
           
<input type="hidden" name="IdDef1" value="@Model.IdDef1" />
<input type="hidden" name="IdDef2" value="@Model.IdDef3" />
<input type="hidden" name="IdDef3" value="@Model.IdDef3" />

<div class="control-group">
    <label class="control-label">
        Détail 1
    </label>
    <div class="controls">
        <input type="text" id="Detail1" name="Details1" value="@Model.Details1" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Content 1
    </label>
    <div class="controls">
        <textarea id="Content1" name="Content1" rows="4">@Model.Content1</textarea>
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Détail 2
    </label>
    <div class="controls">
        <input type="text" id="Detail2" name="Details2" value="@Model.Details2" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Content 2
    </label>
    <div class="controls">
        <textarea id="Content2" name="Content2" rows="4">@Model.Content2</textarea>
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Détail 3
    </label>
    <div class="controls">
        <input type="text" id="Detail3" name="Details3" value="@Model.Details3" />
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Content 3
    </label>
    <div class="controls">
        <textarea id="Content3" name="Content3" rows="4">@Model.Content3</textarea>
    </div>
</div>
