@model CulturezVous.Service.Areas.Admin.Models.AdminElementsViewModel
@{
    ViewBag.Title = "Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <h2>
        Elements
    </h2>
}
@section Nav
{
    <ul class="nav nav-list">
        <li class="nav-header">Actions disponibles</li>
        <li class="active"><a href="#">Voir la liste des éléments</a></li>
        <li>@Html.ActionLink("Nouveau mot", "Create", new { type = "word" })</li>
        <li>@Html.ActionLink("Nouvelle contrepéterie", "Create", new { type = "contrepeterie" })</li>
    </ul>
}
<table class="table table-striped .table-bordered .table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            Date
        </th>
        <th width="50%">
            Titre
        </th>
        <th>
            Auteur
        </th>
        <th>
            Type
        </th>
        <th>
            Votes
        </th>
        <th colspan="2">
        </th>
    </tr>
    @foreach (var item in Model.Elements)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Title
            </td>
            <td>
                <a href="@item.Author.Info">@item.Author.Name</a>
            </td>
            <td>
                @item.Type
            </td>
            <td>
                @item.FavoriteCount
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id, type = item.Type.ToLower() })">
                    <i class="icon-pencil"></i>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", new { id = item.Id, type = item.Type.ToLower() })">
                    <i class="icon-remove"></i>
                </a>
            </td>
        </tr>
    }
</table>
@Html.DisplayFor(m => m.Pagination, "Paginator")
